[2017-06-26 20:31] chrisranderson opened #1 "basic plugin functionality (up through writing to disk)"
To: @dandelionmane, @jart, @caisq

I named it Beholder (for now) because... it's a viz project, I'm a nerd, it's short, and I'm too lazy to think of anything else right now. Anyway, here it goes. It's pretty close to how @dandelionmane described it in https://github.com/tensorflow/tensorboard/issues/130.

## proposed design

People should push tensors to the front end with two function calls: a co

[2017-06-26 23:39] dandelionmane commented on #1
1. You could put out [tensor protos](https://github.com/tensorflow/tensorflow/blob/9c41d5f64efedf44d30e5cc21f900ea07097395c/tensorflow/core/framework/tensor.proto) but there isn't really a need to. Numpy array seems fine.
2. cv2.imwrite seems fine for me.
3. It would be nice if you use the [plugin asset utils](https://github.com/tensorflow/tensorboard/blob/master/tensorboard/backend/event_processi

[2017-06-27 23:17] chrisranderson commented on #1
Re: #4, I'm getting a handle on Bazel, and I'm trying to use TensorBoard stuff, but I get a visibility error. I'm not sure why, since I see `package(default_visibility = ["//visibility:public"])` at the top of the package BUILD file of `event_processing`. Here is the error:

[code]

Here is my build file:

[code]

I tried copying my repo into the TensorBoard plugins directory, and adjusting label

[2017-06-28 13:04] chrisranderson commented on #1
Hmm. If I mess up the label in the deps attribute, it fails. If I mess up stuff in the beholder BUILD file, it fails.  It isn't running `Beholder.py`, though - I can mess that up and it doesn't fail.

[2017-06-28 18:05] chrisranderson commented on #1
@dandelionmane @jart how would you like to review my code? I'm trying to keep this repo in a fairly production-quality state as I go. I'm sure there will be tons of stuff to tweak by the time I'm finished with v1.

[2017-06-28 22:33] chrisranderson commented on #1
Also, @jart, you mentioned about not using huge pull requests - is it okay if I get v1.0 ready and submit smaller ones after that (maybe on a per-feature basis)? The first PR will be big, but they should be smaller than that. I'd love to do smaller ones, but I'm not sure how.

[2017-06-29 20:17] jart commented on #1
You can develop things however you want in this repository. But since it isn't a fork, you're going to encounter things that are impossible for you to do, without modifying the TensorBoard codebase. When You encounter those situations, send us small pull requests that unblock your development workflow, and we'll review them as quickly as possible. Then you bump the TensorBoard SHA1 in your WORKSPA

[2017-06-29 20:17] chrisranderson commented on #1
11. For right now, I'll break the mold of how <PLUGIN_NAME>_plugin.py files are written and read the image without using accumulator or multiplexer stuff, but I'm guessing in the future there will be a `tf.summary.video` that I would use, with a special tag name for this plugin? Would I write that summary op? Or will the high-performance version of this plugin not use the accumulator and multiplex

[2017-06-29 20:32] jart commented on #1
Can you use [tf.summary.tensor_summary](https://www.tensorflow.org/api_docs/python/tf/summary/tensor_summary) instead of creating a `tf.summary.video` summary?

[2017-06-29 20:36] chrisranderson commented on #1
Yes, but wouldn't it be good to have a summary that is explicitly for streaming things in real time? So I have some function that accepts image frames, somehow (I have zero video experience, let alone live video) streams them to the server, which somehow streams it to the TensorBoard client?

[2017-06-29 20:42] chrisranderson commented on #1
So my plugin becomes only something that takes frames and streams them, and then... I have some separate thing that is more for TensorFlow that creates the images. You can use it to make gifs or whatever, or you can send it live to TensorBoard using the plugin.

[2017-06-30 03:22] jart commented on #1
If you have it go through the summary system, and it's slow, then we'll just make the summary system go fast. I'm currently working on a new data ingestion pipeline, that takes summaries and writes them directly to a SQL database. I'm very interested in making this pipeline go as quickly as possible. If you build something awesome, that is a little laggy, then that just gives me even more incentiv

[2017-06-30 05:10] dandelionmane commented on #1
Big +1 to what Justine said, about using tf.summary.tensor_summary rather than adding a new video summary op.

[2017-06-30 18:48] chrisranderson commented on #1
Okay, I can do tensor summaries. @jart, you mentioned earlier using ffmpeg and streaming it to the browser, and something else about using sockets. I'm not sure what you meant (I know very little about streaming) - are tensor summaries better than those ideas?

Also, from what I read in the code, there is a global reload timer for reading event files, and they are cached and returned from the mult

[2017-07-03 20:43] chrisranderson opened #2 "Overwriting event files at each write"
See https://stackoverflow.com/questions/44893223/how-can-i-keep-only-one-summary-at-a-time-in-an-event-file.

[2017-07-03 20:51] chrisranderson opened #3 "tf.summary.tensor_summary slows down over time"
At this line: https://github.com/chrisranderson/beholder/blob/4b5f245f19799a33ed6f6e137038364a9709d5f7/beholder.py#L116

In this plot, the x axis is the number of times it has been called, and the y axis is the time.

![image](https://user-images.githubusercontent.com/5461398/27807584-08af9e20-5fff-11e7-9fdc-a81fd43511e5.png)

[2017-07-03 20:57] chrisranderson commented on #1
It is far from perfect, but 4b5f245f19799a33ed6f6e137038364a9709d5f7 has the user-side script writing tensor summaries.

[2017-07-03 20:57] #1 closed

[2017-07-03 22:53] #3 closed

[2017-07-06 02:55] dandelionmane commented on #2
Why do you need to do this? Is this related to the other issue you posted about the tensor summary slowing down every write?

[2017-07-06 03:47] chrisranderson commented on #2
One, because if I can only look at a frame at a time, then I only need to store a frame at a time, right? Since it's a live visualization, I always pictured a single frame always hanging around. The client requests a frame, the server grabs the current frame. The user's script writes the current frame at every train step. So far, this is proving pretty ugly, and what I'm doing now (a new event fil

[2017-07-06 17:52] chrisranderson commented on #2
The relevant code is here:

user script side: https://github.com/chrisranderson/beholder/blob/55cda875a5925ac530b0af467711c19ce795d642/beholder.py#L123-L137

server side: https://github.com/chrisranderson/beholder/blob/55cda875a5925ac530b0af467711c19ce795d642/beholder_plugin.py#L48-L68 and https://github.com/chrisranderson/beholder/blob/55cda875a5925ac530b0af467711c19ce795d642/beholder_plugin.py#L

[2017-07-06 21:14] dandelionmane commented on #2
How about you use the summary API, but bypass the FileWriter (-> RecordWriter -> disk -> RecordReader -> Event File Loader) -> EventMultiplexer pipeline? That pipeline is pretty complex and is foundationally based on sets of assumptions that aren't relevant for your use case; append-only files (you want replace), storing history, stitching together many event files. It would be much simpler if you

[2017-07-07 17:27] chrisranderson commented on #2
I think I had just assumed that was what I needed to go through - I've been trying to do things the TensorBoard way as much as possible. Thanks for the advice. This is way easier and cleaner. How does this look?

https://github.com/chrisranderson/beholder/blob/master/beholder.py#L85
https://github.com/chrisranderson/beholder/blob/master/beholder_plugin.py#L49

The repo is now in a state where I ca

[2017-07-07 20:47] chrisranderson opened #4 "Prepare a TensorBoard pull request so other people can use this"
@jart @dandelionmane:

I'll summarize the changes I think need to be made to TensorBoard here.

1. `tensorboard/BUILD`:
  a. add dependency for the plugin. This seems problematic - what if I want to change the name of the plugin? Could you add `tensorboard/plugins/third-party` and then I put all of my stuff in there, and the following steps are automatically done? This could be a big request, but

[2017-07-08 02:18] jart commented on #4
We can actually make it work out of the box from within this codebase. However I'm noticing that this repository doesn't have the web_library_example structure anymore. What I'll do asap is create a custom_tensorboard_example repo that shows how to do this.

[2017-07-08 02:28] chrisranderson commented on #4
@jart oh, I just started following the pattern of plugins in TensorBoard. I never realized that I needed to structure it like web_library_example. Do I need to change it to match? How does it work with TensorBoard in that format?

[2017-07-08 02:41] dandelionmane commented on #4
Tagging @wchargin too.

[2017-07-08 03:07] jart commented on #4
@chrisranderson You're going to want both. It'll make more sense when I created the custom_tensorboard_example repository. See also: https://github.com/tensorflow/tensorboard/pull/206

[2017-07-08 03:21] wchargin commented on #4
Hi—nice work!

To your points (1) and (5): instead of changing TensorBoard code, it
would be easiest for you to make a (verbatim) copy of TensorBoard's
`main.py` and add your plugin to the `plugins` list in the main
function. Then, likewise duplicate the Bazel rule and add your plugin as
a build dependency there. This should be the only place that the list of
plugins appears in TensorBoard, so it

[2017-07-08 04:07] chrisranderson commented on #4
Heh. With fun, frequent updates come moving targets. :) So really at this point, maybe I wait a bit til @jart's new example is up? And then I can revert all of my changes in my copy of TensorBoard and start really parsing through @wchargin's comment (thanks for that!), which I'm guessing will largely if not totally be covered by `custom_tensorboard_example`.

Thank you all for your help! This has

[2017-07-08 04:34] wchargin commented on #4
Yes; I'd advise that.

I'm assuming from your screenshots that you're able to work on a locally patched copy of TensorBoard and so this isn't blocking anything—right? If this isn't the case or stops being the case, do let us know and we can move up our timeframes.

Thanks!

[2017-07-08 04:34] wchargin commented on #4
Sorry about the moving targets…but I promise that they're a Good Thing and will make your code Just Work! :-)

[2017-07-08 06:04] chrisranderson commented on #4
@wchargin yep, I made the changes and used git diff for my first comment on this issue. :)

[2017-07-10 15:45] chrisranderson opened #5 "Mode doesn't match the front end when the run is restarted"
The back end has to choose a default mode, which is 'parameters-variance'. If the client chooses to view absolute values, and the run is restarted, the state of the client is incorrect.

![image](https://user-images.githubusercontent.com/5461398/28026847-77e64a82-6554-11e7-8237-958476bb5ff4.png)

[2017-07-10 15:47] chrisranderson opened #6 "Add custom tensor option"
- [ ] Allow people to pass in their own list of tensors to be visualized.
- [ ] Add option to front end
- [ ] Add mode code to back end

[2017-07-10 16:21] chrisranderson opened #7 "Add option to change scaling from the client"
- [x] Add another set of radio buttons to choose how to scale - per-layer, or against the entire network.
- [x] Have the server add that option to the mode file.
- [x] Read the mode file for the scaling option, rather than having it passed in to the `Beholder` constructor.

[2017-07-10 16:43] chrisranderson opened #8 "Change configuration file to be JSON"

[2017-07-10 17:09] chrisranderson opened #9 "Add explanatory tooltips"

[2017-07-10 20:53] dandelionmane commented on #2
Yeah, that approach seems simple and reasonable. Probably should be slightly more robust, e.g. logging exceptions and not catching all errors silently :) but fine for now

[2017-07-10 20:58] chrisranderson commented on #2
@dandelionmane LOL. Yeah that's pretty bad. Great, thank you.

[2017-07-10 20:58] #2 closed

[2017-07-10 21:16] chrisranderson opened #10 "Use something designed for video rather than img src refreshes"

[2017-07-10 21:28] chrisranderson opened #11 "images keep refreshing when the plugin isn't selected"

[2017-07-10 22:25] #8 closed

[2017-07-10 22:26] chrisranderson opened #12 "Automatically adjust the rate of image requests"
Or just do #10.

[2017-07-10 22:45] chrisranderson commented on #7
Implemented in c7d4b9746002273465305bbd634d409c0d74cde0.

[2017-07-10 22:45] #7 closed

[2017-07-11 15:08] chrisranderson commented on #12
Closed by 3b19df6823a698f04044b761e0dbc3d184cebed8.

[2017-07-11 15:08] #12 closed

[2017-07-11 15:08] chrisranderson commented on #10
Closed by 3b19df6823a698f04044b761e0dbc3d184cebed8.

[2017-07-11 15:08] #10 closed

[2017-07-11 15:51] chrisranderson opened #13 "Test on different networks"
- [x] Some RNN
- [x] VGG

[2017-07-11 15:52] chrisranderson opened #14 "Test Python 2 and Python 3"

[2017-07-11 15:53] chrisranderson opened #15 "Test Windows and Mac"

[2017-07-11 15:53] chrisranderson opened #16 "Test browsers"
- [x] Chrome
- [x] Firefox
- [ ] Edge

[2017-07-11 15:55] chrisranderson opened #17 "Test UX"

[2017-07-11 20:25] chrisranderson opened #18 "Add configuration option to pause network"
Could be a FPS slider. This would be nice so that people don't have to worry about the visualizations slowing down their network. They can always leave the update function in their code.

[2017-07-11 22:44] chrisranderson commented on #18
Closed by 7d2cf603db731e4e15b6a6264b99187f8a21e702.

[2017-07-11 22:44] #18 closed

[2017-07-11 23:32] chrisranderson opened #19 "Frames refresh at high FPS even when set to low FPS"

[2017-07-12 16:04] chrisranderson commented on #19
I tested this at 5 FPS.

Without limiting the server:
![image](https://user-images.githubusercontent.com/5461398/28127166-e525c5b0-66e8-11e7-9749-d4407c09d0c8.png)

With limiting the server (a4e9c55759b7e3845b56b48b9ad65aaaf59abf49):
![image](https://user-images.githubusercontent.com/5461398/28127205-06551a92-66e9-11e7-9af4-9028f9eebb91.png)

[2017-07-12 16:04] #19 closed

[2017-07-12 17:44] #5 closed

[2017-07-12 17:46] chrisranderson opened #20 "client doesn't continue when server is restarted"

[2017-07-12 21:38] #20 closed

[2017-07-12 21:41] chrisranderson opened #21 "Flip display to be vertically stacked, add layer information"
Vertical stacking will allow people to use huge networks, and will also allow layer information. Layer info can include:

- variable name
- original shape
- min and max value (to help understand the scale)

[2017-07-13 19:49] chrisranderson opened #22 "Handle broken pipe error"
![image](https://user-images.githubusercontent.com/5461398/28184804-0bbc286a-67d2-11e7-8a2e-50c8f29b85f1.png)

[2017-07-13 20:15] chrisranderson commented on #21
Closed by 74396c20ae8ffbca787526d51f175b13f6bb1d46.

[2017-07-13 20:16] #21 closed

[2017-07-13 20:37] #9 closed

[2017-07-13 23:26] #6 closed

[2017-07-13 23:30] chrisranderson commented on #6
For now, you can pass in a list of numpy arrays or a frame. If people are super interested in allowing tensors in the future, I'll think about it more. If you want activations or something, you'll need a feed dict and data anyway, so you might as well pull the values out when you run your train step.

[2017-07-14 00:15] chrisranderson opened #23 "Maintain conv layer shapes"

[2017-07-14 14:11] chrisranderson opened #24 "Remove OpenCV dependency"

[2017-07-14 15:51] #24 closed

[2017-07-15 14:01] chrisranderson commented on #23
2939de565c937ff825d514a57ed6dc8589eb87d4 is good enough for now. If you have a weight tensor that is [3, 3, 64, 128] I split it into a bunch of 3x3s, but the 64 channels of a single kernel are not adjacent, unless by luck.

[2017-07-15 14:01] #23 closed

[2017-07-15 14:39] chrisranderson opened #25 "Separate video code from visualization code"

[2017-07-15 22:36] chrisranderson commented on #25
Closed by d9cbf26e0b5369e7cb15cc0e9f0779907db2e387.

[2017-07-15 22:36] #25 closed

[2017-07-16 03:44] chrisranderson commented on #22
Not sure what caused this, but right now I can't reproduce it.

[2017-07-17 18:37] chrisranderson commented on #11
The extent of this issue is just "Receive Data" events in the Chrome performance profiler. It doesn't appear to be that big of a deal.

[2017-07-17 18:37] #11 closed

[2017-07-17 18:38] #13 closed

[2017-07-17 21:01] chrisranderson commented on #4
@jart Any update on your custom_tensorboard_example repo? I'm about to the point where I'd like to ask other people to test this out on their own networks.

@wchargin I'm trying to figure out what it would take for others to install this plugin. It looks like I need to:
- at some point update my copy of TensorBoard. After https://github.com/tensorflow/tensorboard/pull/206 is merged?
- copy `main.p

[2017-07-17 21:47] dandelionmane commented on #4
I think this is revealing a lot of areas of improvement for the plugin infrastructure - in particular, requiring bazel to install a new plugin locally is something we should try to avoid (and move towards self-contained Python modules that have everything they need? These python modules could be built with our bazel rules).

Re "copy main.py, and update whenever we change ours" - I think we could

[2017-07-17 21:54] jart commented on #4
I'm working on getting https://github.com/tensorflow/tensorboard/pull/206 submitted right now. The example repo comes next.

[2017-07-17 22:13] chrisranderson opened #26 "save video + headless option"

[2017-07-17 22:23] chrisranderson opened #27 "sliders for image width and section height"

[2017-07-17 22:23] chrisranderson opened #28 "some way to choose which tensors are visualized"

[2017-07-17 23:08] chrisranderson opened #29 "Change Python to Python communication to use pickles"

[2017-07-18 13:18] chrisranderson opened #30 "Send text across instead of images for information about sections"
Using images was easy to implement, but is inflexible and slow.

[2017-07-18 13:37] chrisranderson opened #31 "Write an install script"
- Download and install Bazel
- Rebuild TensorBoard

[2017-07-18 16:45] chrisranderson commented on #26
Added video, I'll leave headless until more experiments reveal that it is necessary. Closed by f1abe022cb3c407245ba1a71a5d681209cdf5d32.

[2017-07-18 16:45] #26 closed

[2017-07-18 18:12] chrisranderson commented on #4
@dandelionmane @wchargin If I understand right, they'd also have to clone the TensorBoard repo because the one that comes by pip installing TensorFlow doesn't have all the files necessary for building from scratch.

[2017-07-18 22:56] wchargin commented on #4
Certainly. (It's merged.)

Right; all this is true in the current model. Eventually, we want you
job to be as simple as writing a small constant number of build rules,
like (API not final):

[code]
(with a corresponding way to link up the HTML frontend; also not
finalized).

Add it here: https://github.com/tensorflow/tensorboard/commit/a990dac3a3c099e8702bccd2a03734d6173188cf#diff-67383bbdebb2989a

[2017-07-18 23:15] chrisranderson opened #32 "Factor out everything that touches the filesystem"

[2017-07-19 07:15] jart commented on #29
Consider using protobuf? That's what TensorBoard is standardized on.

[2017-07-19 13:58] chrisranderson commented on #29
Huh. I didn't even consider it. I guess protobuf isn't part of my dev vocab yet. Any other reason besides consistency with TensorFlow? If it's faster/smaller (I'm guessing yes, but I don't know), that could be nice . Since I'm writing stuff to disk so often, I have issues with things being half-written (or something) when they're read. I also wonder if I'm going to have worse problems on machines

[2017-07-19 17:26] jart commented on #29
It's pretty boss, trust me. Google uses it at all layers of the infrastructure. It's the best thing since ASN.1.

[2017-07-19 17:40] chrisranderson commented on #29
Haha. Cool. Well I wouldn't mind learning it, so maybe after things settle down a little bit I'll check it out. Thanks for the recommendation (and for looking through issues or however you found this!).

[2017-07-19 21:36] chrisranderson commented on #4
@jart, do you know why the code as it is in this branch https://github.com/chrisranderson/beholder/tree/new-install/beholder doesn't show the new dashboard? It would also be nice to know why Bazel doesn't detect changes in e.g. `beholder/beholder_dashboard/beholder-dashboard.html`.

[2017-07-20 02:37] jart commented on #29
We're subscribed to notifications on your repository, because we want to support your efforts. If you're working hard to make TensorBoard better, then we want to work hard to help you be successful.

[2017-07-21 16:55] chrisranderson commented on #4
@jart Nevermind, got it figured out. I wasn't using your `main.py` and my build rules weren't the same I don't think, so it was using the normal TensorBoard dashboard and not the one in my repo.

[2017-07-24 17:02] #32 closed

[2017-07-24 17:04] #30 closed

[2017-07-24 17:09] chrisranderson commented on #4
Now that https://github.com/tensorflow/tensorboard/pull/206 is finished, the repo is in a pretty good state, and people can start trying it out. Thanks @jart!

[2017-07-24 17:09] #4 closed

[2017-07-24 18:33] chrisranderson commented on #16
Doesn't work in Edge, but it looks like TensorBoard itself is the cause. Tested using Browserstack, Windows 10, Edge 15. It breaks on the `forEach`:

![image](https://user-images.githubusercontent.com/5461398/28538645-26682928-706c-11e7-87ae-b6f244ccce72.png)

[2017-07-24 18:33] #16 closed

[2017-07-24 22:01] #14 closed

[2017-07-25 15:35] chrisranderson opened #33 "Discuss Beholder potentially becoming an officially supported TensorBoard plugin"
To: @jart @dandelionmane @wchargin

I think @jart and @dandelionmane both mentioned potentially merging this repo into TensorBoard. Here are some of my questions.

1. Would you actually like to merge the repo? What if it was left separate, and I just waited for the plugin system to be changed so that installation was easier? A summary of your view of pros and cons for both parties would be nice.
2

[2017-07-25 23:01] dandelionmane commented on #4
Woot! BTW Chris, you may want to take a look at the new tensorflow/tensorboard-plugin-example repo. Once this pull (https://github.com/tensorflow/tensorboard-plugin-example/pull/1) goes in, it will be a fully-fledged demo of creating a TB plugin. I'd appreciate any feedback on it (you can comment on the PR even if it's already merged when you look at it)

[2017-07-26 17:21] chrisranderson commented on #31
Not going to worry about it for now. There's a chance this will become a TensorBoard plugin anyway.

[2017-07-26 17:21] #31 closed

[2017-07-26 19:17] chrisranderson commented on #29
@jart, It looks like for what I need, pickles are faster. Did I design my experiment poorly? I got

protobuf time: 0.6017861366271973
pickle time: 0.5259068012237549

`protoc --version`: libprotoc 2.6.1

Here's config.proto:
[code]

And my experiment:

[code]

[2017-07-27 17:11] chrisranderson opened #34 "custom option for image scaling."
Users set what displays as black and what displays as white.

[2017-07-27 19:20] chrisranderson opened #35 "Consider histograms on the side, combined with informational text"
Maybe make a small histogram of the entire section to the right of the section.

[2017-07-27 21:21] chrisranderson opened #36 "Add option to not truncate any values"
Currently all values are being truncated to the number of pixels (ish) that are being display. Add an option that allows people to see every single parameter.

[2017-07-27 21:51] chrisranderson opened #37 "Add tests that at least run everything"
Checking the return values, etc. can be added in later.

[2017-07-28 01:49] dandelionmane commented on #33
Hi Chris,

First of all - nice work! @jart, @wchargin have poked around the repository and run the demo and we're all really impressed. The streaming image response with multipart response content type is really neat, none of us have seen that before.

To answer your questions:

Whether we want to merge the repo: we're not sure yet, because we aren't sure how broad interest in the plugin would be.

[2017-07-28 02:38] chrisranderson opened #38 "Sync section info with image refreshes"

[2017-07-28 05:00] chrisranderson commented on #33
Thanks! I'm glad you like it. :)

In regards to how it is practically useful, I started the why-is-this-even-useful section of my project report (part of my Master's requirements) today. Turns out it's kinda useful! Vanishing gradients could be pretty easy to detect, based on one contrived example I tried.

For CNNs, I reshape conv weights so that each row of [kernel height, kernel width] blocks r

[2017-07-29 04:33] jart commented on #33
This is very useful information @chrisranderson. Thank you.

Regarding what @dandelionmane said earlier about a guided tour, one easy way you could do that on a Mac is by opening QuickTime Player and clicking File | New Screen Recording. You can then draw a rectangle on your screen, which it records along with your voice and mouse cursor. The ideal length would probably be five to ten minutes. The

[2017-07-29 22:00] chrisranderson commented on #36
Added by the "show all data" option. Really can get huge. The VGG variant I tried it on ended up with a 22MB summary file. Closed by 60b6c5dccc3a2b280ffbaa6252d044c1f0abc9ca.

![image](https://user-images.githubusercontent.com/5461398/28748506-eef8477a-7476-11e7-9846-c8790a93d816.png)

[2017-07-29 22:00] #36 closed

[2017-07-31 19:47] chrisranderson opened #39 "Add use cases to README"
- [ ] How to detect vanishing gradients
- [ ] How to interpret conv layer sections

[2017-08-01 06:23] chrisranderson commented on #33
@jart @dandelionmane You're both right about a video. Maybe someday I'll work up the courage to put something out there... for now, I've added a bunch of info to the README. I could use that as an outline for a video.

@jart I have not thought about using TensorFlow, but I guess it isn't a bad idea to reduce the number of dependencies. I'll add an issue.

[2017-08-01 06:24] chrisranderson opened #40 "Drop Pillow dependency"
I should be able to use https://www.tensorflow.org/versions/r0.12/api_docs/python/image/resizing#resize_images and https://www.tensorflow.org/versions/r0.12/api_docs/python/image/encoding_and_decoding to handle all Pillow stuff. I'm wondering what the performance will be like in comparison.

[2017-08-01 06:25] #39 closed

[2017-08-01 06:25] chrisranderson commented on #39
Closed by 88bea0dc3e334a6786f0d30edbf9c639fdafe7bf.

[2017-08-01 15:11] jart commented on #40
TensorFlow uses libpng under the hood. It's able to encode PNGs in microseconds, if you construct the graph and session beforehand. Cold start performance is something we're still working on.

[2017-08-01 16:12] chrisranderson commented on #40
Why does TensorFlow require you to construct a graph for PNG encoding? I would imagine that things you wouldn't use in a neural net wouldn't require a session.

[2017-08-01 18:50] chrisranderson opened #41 "How can color be used?"
It could be useful to use hue and value instead of just value. What would hue represent? I could constrain hue to a certain range to keep the visualization from getting too noisy.

[2017-08-02 22:00] chrisranderson commented on #40
I'll wait to do this until I know more about whether it will be merged into TensorBoard (#33). There's more complexity to accomplish the same thing, with no benefits that I've seen (one small performance test actually showed this method was slower) besides dropping the dependency, which I only need to do if this repository is going to be merged. I would need to:

- Create a placeholder, encode op,

[2017-08-03 02:34] jart commented on #40
That's fair. But it's worth noting that we're adding an API right now to make this easier for you. https://github.com/tensorflow/tensorboard/pull/320

As for whether or not it will be merged, I will say that I am very excited about the potential of this contribution, and we'll know for certain when we collect feedback. I've been holding off on collecting feedback because you indicated you might ma

[2017-08-03 02:48] chrisranderson commented on #40
That was a great idea to wait - alright, you've persuaded me to try a video! I'm planning to have it finished by tomorrow. I'll send you and @dandelionmane a link tomorrow to take a look at or give up. :)

Could I ask a huuuuge favor? Would you mind trying to install it and play around with it sometime? I would hate for the big debut to flop because e.g. it doesn't work on Macs or something, which

[2017-08-03 05:07] wchargin commented on #40
(FYI, Dandelion is on vacation for the rest of August.)

We all took a look as a group recently. We were very impressed by the `x-multipart-replace` for the PNG streaming—none of us had seen that before, and we all thought it was very clever. Once we got over that, we were trying to interpret the visualization and all the options. (We determined that the first long-skinny-image was probably the ra

[2017-08-03 05:08] wchargin commented on #40
[`with tf.device("/cpu:0"):`](https://www.tensorflow.org/api_docs/python/tf/device)

[2017-08-03 05:29] chrisranderson commented on #40
I deserve nigh unto zero credit for the multipart response. I didn't think about this until now, but maybe I should leave a comment explaining where it came from. I don't want to give the impression that I came up with it. The original source is here, I think: https://blog.miguelgrinberg.com/post/video-streaming-with-flask.

It also doesn't work with Edge, but I'm guessing that's not a big deal.

[2017-08-03 19:59] chrisranderson commented on #40
@jart I think I'll be recording a "final" go sometime within the next few hours.

[2017-08-03 22:48] chrisranderson opened #42 "Make a demo video"
@jart @wchargin: I'm almost there - I almost had it ready today, but I'm not very good with video editing software, so I'll have to give editing another go. I might not finish today, but definitely will be done by tomorrow.

[2017-08-03 22:50] wchargin commented on #42
Great! Thanks for the update.

[2017-08-04 16:25] chrisranderson commented on #42
Okay, here it is: https://www.youtube.com/watch?v=06HjEr0OX5k. Viewing in 1080p makes the text look good.

[2017-08-04 16:37] chrisranderson opened #43 "Rename the plugin / repository"
Wizards of the Coast might not be happy with the name "beholder". From their [System Reference Document (pdf)](http://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf):

Suggestions welcome!

[2017-08-04 17:03] chrisranderson commented on #42
I'm also a bit worried about people cloning it right now. I'm having an issue with `tf.contrib.util.make_ndarray`... it seems buggy. It takes forever the first time after TensorBoard is started. I timed it at 110 seconds, and then it's fine afterward at less than a millisecond.

[2017-08-04 17:35] wchargin commented on #42
I'll take a look at the video now! :-)

110 seconds to `make_ndarray`‽ That is certainly not expected. It takes half a second for me to convert a 10000×10000 `TensorProto` to a numpy array using `tf.make_ndarray` (you don't need to use contrib, by the way). Can you reproduce this

What data type and size is the tensor that you're trying to convert to an ndarray? I know that `make_ndarray` sometime

[2017-08-04 17:40] chrisranderson commented on #42
Here is the issue with more information: https://github.com/tensorflow/tensorflow/issues/12043

[code]

[2017-08-04 17:55] wchargin commented on #42
Easy fix in other thread.

[2017-08-04 18:35] chrisranderson commented on #42
@jart @wchargin As people try it out, can you let me know how many and how it goes? I'm about to the point where I'd feel comfortable posting it somewhere, but I'd like to roll it out pretty slowly in case something goes wrong.

[2017-08-04 19:34] chrisranderson commented on #43
Potential options:
- tfvideo (Also IP issues? May have to ask about this) or some variation: tf_video, tf-video. Maybe tbvideo?
  - I like the practicality of this idea.
- lens
- viewfinder
- Viddy McVidface or Tensy McTensorface, etc.
- defer responsibility to the TensorBoard folks if it gets merged :)

[2017-08-04 20:46] jart commented on #42
@chrisranderson Thank you for making the video! I will start sharing this with people on the Brain team on Monday.

[2017-08-04 21:02] chrisranderson commented on #42
@jart thank you! Any feedback would be much appreciated.

[2017-08-04 22:44] chrisranderson commented on #38
I might be able to do this by putting the section info responses under the same timing constraints as the frame generator. I might have to try and predict some timing offset.

[2017-08-07 18:51] chrisranderson commented on #42
I made a change that tries to detect convolutional activations and visualize them appropriately. Here's an example, which I think is pretty cool. You might have to download the 14.3 MB image to get a good look: https://github.com/chrisranderson/beholder/blob/master/readme-images/convolutional-activations.png

[2017-08-07 19:04] wchargin commented on #42
Very cool.

Dumb question: the script looks like it's running on MNIST data, but I can swear that I see a bunch of bird-detecting neurons, and I don't see any digits…

![Birds at (1951, 256)](https://user-images.githubusercontent.com/4317806/29041305-418c0390-7b67-11e7-9874-ec4bd06b7894.png)

![Birds at (256, 192)](https://user-images.githubusercontent.com/4317806/29041542-1870177a-7b68-11e7-9eca-

[2017-08-07 19:23] chrisranderson commented on #42
Although it would be pretty awesome if VGG used birds as an intermediate representation for handwritten digits, that's a run on a totally different network that I don't have code for in the repo. :) Sorry about the confusion.

Here's an example from the demo script in the repo:
![image](https://user-images.githubusercontent.com/5461398/29042277-79c0b4ca-7b73-11e7-9b2e-372963d6e82c.png)

[2017-08-07 19:29] wchargin commented on #42
This clarifies my confusion. Thanks. :-)

[2017-08-07 22:19] chrisranderson commented on #43
@jart @wchargin this totally isn't your job, but can I get some advice on this as a favor? I'd like to post this on Reddit or something, but I don't want to have rename it after I put it out in the wild.

I'm leaning toward something like tensorboard-video or tensorflow-video (maybe without a dash or with an underscore) but I was thinking that Google might not appreciate that. Do you have any sugg

[2017-08-08 02:20] jart commented on #43
I would advise holding off on going public until we collect feedback. I've started doing that today. Once that's done, we can work on rhetoric. The last media piece I did was [Operation Rosehub](https://opensource.googleblog.com/2017/03/operation-rosehub.html) which got picked up by [Hacker News](https://news.ycombinator.com/item?id=13769727), [TrendinTech](http://trendintech.com/2017/03/11/google

[2017-08-08 04:24] chrisranderson commented on #43
Okay, that sounds like good advice. I'll wait. :) Thank you for getting feedback!

[2017-08-08 20:55] chrisranderson opened #44 "Use perceptually uniform colormaps"
See the explanation here: https://matplotlib.org/users/colormaps.html. They're also "relatively friendly to common forms of colorblindness" (see https://bids.github.io/colormap/).

Here's an example using the magma colormap (chosen by an informal survey of coworkers):
![image](https://user-images.githubusercontent.com/5461398/29093603-9856736e-7c47-11e7-8452-78db76261070.png)

Original style examp

[2017-08-08 20:56] chrisranderson commented on #44
I can also add a select box that lets you choose which colormap to use.

[2017-08-08 22:50] jart commented on #44
Paul Tol was just generous enough to design a new color-blind friendly color scheme, just for TensorBoard. @wchargin would be best to advise on this one.

[2017-08-08 23:37] wchargin commented on #44
Paul's scheme is good for categorical data; @chrisranderson is right to use a perceptually uniform continuous colormap here instead.

But I don't see what's wrong with a simple grayscale color map. As long as you get the gamma parameter right, it's perfectly uniform (essentially definitionally so), and you don't have to worry about colorblindness at all.

What do you think?

A good tool for rough

[2017-08-09 00:33] jart commented on #44
I guess the disadvantages of greyscale would be:

1. Black and white might not be the most aesthetically pleasing.
2. It's hard to tell black from dark grey apart. If most of your values falls in that lower end, that could be problematic. But if you make the lower end a different hue, you can easily perceive a greater range of values in total.

That matplotlib documentation page doesn't make a who

[2017-08-09 00:49] jart commented on #44
Having read into things more, here's the analysis of the magma color map:

![image](https://user-images.githubusercontent.com/49262/29100596-4b21e12c-7c61-11e7-880f-9e2bfd529560.png)

I think this was actually a good choice. I like that it works on a black and white printer. It seems to allow me to perceive a greater range of values, versus the original black and white. It *almost* seems to be aes

[2017-08-09 00:54] chrisranderson commented on #44
Huh, I hadn't considered finding a grayscale one. Part of it, like @jart (I don't know when to use Justine or your username in these conversations) mentioned is aesthetics.

From one perspective, that's exactly what you want, as long as everything is uniform. If it isn't uniform, your perception of the relative differences between values is skewed I think([nice stackexchange answer on the topic](h

[2017-08-09 00:56] jart commented on #44
You can address me by my initials, first name, or last name. Whichever you prefer :)

[2017-08-09 01:18] chrisranderson commented on #44
Ha. Perfect, thanks. Okay... original image:
![image](https://user-images.githubusercontent.com/5461398/29101091-46d69e94-7c6d-11e7-8def-56c5389063a1.png)

Values shifted upward and `np.log`ed before being scaled:
![image](https://user-images.githubusercontent.com/5461398/29101069-22157882-7c6d-11e7-9720-549d95da5897.png)

Used `cv2.equalizeHist` after the sections were scaled:
![image](https://us

[2017-08-10 17:54] chrisranderson commented on #33
@jart How goes feedback gathering?

[2017-08-10 18:04] wchargin commented on #33
(Justine is OOO until Monday.)

We posted a link to your video and this issue in the Brain chat. There was a general positive response ("real time view of things would be really cool," etc.). One thing that someone noted was that network overhead could be an issue if data is on a remote filesystem—but our progress toward SQL-mode could help with this. That's all I have for you so far. :-)

[2017-08-15 01:09] jart commented on #33
We discussed Beholder at our team meeting today. There is unanimous support for merging it into TensorBoard. It's a fantastic contribution. Everyone really loves it. There's only two small things we want to see happen beforehand:

1. Add a disclaimer to the web UI that it currently only works well on local file systems.
2. Make your `is_active` method work really well. Then have an informative ina

[2017-08-15 01:11] jart commented on #44
My advice would be to just do it. I think magma is absolutely a step in the right direction. The analysis looks good. We can fine tune it later. Once again, great thinking.

[2017-08-15 01:28] jart commented on #44
By the way, be sure to add a color map legend to the side bar if you do this.

[2017-08-15 02:09] jart commented on #42
Now that we've established there's strong support for merging Beholder, you are guaranteed to have a large user base when all is said and done. The only question now is, how famous do you want to be?

If you want to go viral, here's the narrative I would propose:

1. Add the magma color map and make the frame rate as high as you possibly can, to optimize fabulousness.

2. Might make you cringe, bu

[2017-08-15 05:14] chrisranderson commented on #33
That's great news! Thank you for getting back to me on this. It will be fun to share this when I present my project to the committee on Wednesday. I'll add issues for what you mentioned, add at least one of my own, and put them on a milestone.

[2017-08-15 05:33] jart commented on #42
I also want to mention that there's actually a good chance that the media content you already created will get a lot of traction. My suggestions are merely something that I think will help it get even more.

[2017-08-15 05:53] chrisranderson commented on #42
Let's see, Justin Bieber has 99.1 million followers on Twitter, so whatever it takes to get to more than that. :)

My vote is: let's use whatever marketing potential there is in this code for the benefit of TensorBoard, and keep things on the down low until it is finally released as a part of TensorBoard itself. I think it might be interesting to share it with an outside-of-Google audience for bet

[2017-08-15 05:54] chrisranderson opened #45 "Add a colormap legend to the sidebar"

[2017-08-15 05:56] chrisranderson commented on #44
I actually already pushed magma as the default, but I can add a legend (#45).

[2017-08-15 05:56] #44 closed

[2017-08-15 05:56] chrisranderson opened #46 "Add a disclaimer to the web UI that it currently only works well on local file systems"

[2017-08-15 05:56] chrisranderson opened #47 "Fix the is_active method"

[2017-08-15 05:59] chrisranderson opened #48 "Change the way pillow is depended on"
From https://github.com/chrisranderson/beholder/issues/33#issuecomment-318533909. @dandelionmane, can you clarify what you meant by this?

[2017-08-15 06:01] chrisranderson opened #49 "Get the okay for copy + pasted ffmpeg code"
From https://github.com/chrisranderson/beholder/issues/33#issuecomment-318533909.

[2017-08-15 06:01] jart commented on #43
I think the name Beholder is fine. There are actually two live registered trademarks, but they don't apply to what you're doing.

- [Trademark 87177865](http://tmsearch.uspto.gov/bin/showfield?f=doc&state=4809:him5vu.2.2) applies to computer and board games
- [Trademark 86808670](http://tmsearch.uspto.gov/bin/showfield?f=doc&state=4809:him5vu.2.8) applies to camera accessories

[2017-08-15 06:07] chrisranderson commented on #43
Okay, I'll close this until I get served or something.

[2017-08-15 06:07] #43 closed

[2017-08-15 06:08] chrisranderson commented on #33
Here's the milestone: https://github.com/chrisranderson/beholder/milestone/1.

[2017-08-15 06:08] jart commented on #49
At Google, we're sort of not allowed to check-in multiple third party projects into one directory. We'd probably have to pull out that file, set up a third party directory for it, write the metadata, get approval, and all that jazz. It would take us quite a bit of time. Would be simpler to probably just write a quick one-off function.

[2017-08-15 06:22] jart commented on #42
That's very gracious of you. I do believe TensorBoard and its users come first. I also believe our contributors who make TensorBoard better for them deserve to be as successful as possible. So I'm happy to play this however you want. We can put those ideas on the shelf for a video in the future.

With that said, would you like me to ask our people to tweet and promote your existing video tomorrow?

[2017-08-15 06:31] jart commented on #48
Dandelion is traveling for the rest of the month. I'm doing my best to fill in his shoes. @wchargin's excellent [`encode_png`](https://github.com/tensorflow/tensorboard/blob/master/tensorboard/util.py#L452) function is now available. Upgrade your `WORKSPACE`:

[code]

[2017-08-15 06:32] jart commented on #22
Ignore that. It's probably caused by the browser closing the TCP client connection before the server was done sending. We haven't gotten around to suppressing that yet. It's kind of harmless.

[2017-08-15 06:33] chrisranderson commented on #42
If you'd like to, that's fine. I'm a bit worried about it being fragile. I've never tried it on OS X or Windows, and I have noticed a bug that requires me to refresh the page, relating to stopping and restarting training or something. I'm headed on vacation Wednesday so my time to put out fires will be limited.

[2017-08-15 06:34] jart commented on #37
Tests would be an excellent use of your time. Once your work is merged, we're making a promise to maintain it basically forever. Whatever you can do to make that easier for us will be greatly appreciated.

[2017-08-15 06:41] jart commented on #42
I wouldn't stress out about it. Remember that this would be a beta announcement, it's not a production service, and it's open source. The expectations are not high. However it does say good things that you're holding yourself to high standards regardless.

However, be sure to check that anyone who sends you a pull request has signed Google's CLA before merging. Even if it's a single line. Otherwis

[2017-08-15 06:45] jart commented on #42
Hey do you have a twitter account? What's the name?

[2017-08-15 06:45] chrisranderson commented on #42
Thank you for the encouragement! I'll be available for a lot of tommorow to
manage things. I'll make sure to mention the CLA.

On Tue, Aug 15, 2017, 12:41 AM Justine Tunney <notifications@github.com>
wrote:

[2017-08-15 06:51] chrisranderson commented on #42
Yep, it's @chrisdotio https://mobile.twitter.com/chrisdotio.

On Tue, Aug 15, 2017, 12:45 AM Justine Tunney <notifications@github.com>
wrote:

[2017-08-15 06:54] jart commented on #43
I'm in process of talking with people on our end to make sure you're doing everything by the book. I don't think there's any reason to be concerned. I'll let you know if I learn that there's more you can be doing. Also, if anyone reaches out to you with trademark concerns, feel free to contact us, since people on our end would probably be interested in helping.

[2017-08-15 07:07] jart commented on #42
Great. I requested a tweet between 9 and 12 a.m. PST tomorrow. You should be mentioned.

[2017-08-15 16:49] chrisranderson commented on #22
Okay, I'll close this. It might be related to how quickly I'm making requests.

[2017-08-15 16:49] #22 closed

[2017-08-15 16:54] jart commented on #22
I don't think it's about speed. It's probably those PNG streamers. It seems to be an inherently persistent connection. The only way those things are going to get shut down is with a pipe error when the browser closes it, when navigating to a different page. If you can catch the error, I say just do it. Possibly by sending us a pull request.

[2017-08-15 17:05] chrisranderson commented on #48
I also use it for opening images, saving images, and nearest neighbor resizing. Any suggestions for those functions?

[2017-08-15 17:23] jart commented on #48
I'm guessing you need nearest neighbor for the sections of these mosaic images you're building? I ask because you have `image-rendering: pixelated;` (BTW you might also want `image-rendering: -moz-crisp-edges;`. Firefox is in our support matrix.) Have you considered [`tf.image.resize_images`](https://www.tensorflow.org/api_docs/python/tf/image/resize_images)? Remember that TensorFlow is more than

[2017-08-15 17:26] jart commented on #48
As for opening and saving images, you *absolutely* want to use things like `tf.gfile.open` (same as `open`) instead of PIL. This gives you GCS, Colossus, etc. support for free. Be sure to replace any other i/o calls you have with tf.gfile methods too, e.g. `os.path.exists`.

[2017-08-15 17:29] wchargin commented on #48
As @jart mentions, you can do resizing in TensorFlow, so I suggest creating `PersistentOpEncoder`s for them:

[code]

Then:
[code]

The `_PersistentOpEvaluator` class is in `tensorboard/util.py`; it's private for now, so you'll need to copy-paste it into your module, but we can make it public soon.

[2017-08-15 17:33] wchargin commented on #48
(As for loading and saving images, use `tf.image.{en,de}code_png` via PersistentOpEvaluators (which `tensorboard.util.encode_png` already does for you; you just need to create the decoder), and then use `tf.gfile` to write to the actual files.)

[2017-08-15 20:16] wchargin commented on #48
Well, as you can see by GitHub's relentless issue spam, you can now depend directly on `tensorboard.util.PersistentOpEvaluator` to perform high-performance TensorFlow computations from Python.

[2017-08-16 12:26] mrlzla opened #50 "IOError when importing beholder"
There is some error occured when importing the module:
[code]
Python: 2.7
TF version: 1.2.0
OS: Ubuntu 16.04
Bazel: 0.5.3
Pip: 9.0.1

[2017-08-16 13:57] chrisranderson commented on #50
What command exactly did you use to `pip install`? When I run the following:

[code]

I get the directory that I cloned Beholder to, not `/usr/local/lib/python2.7/dist-packages/beholder`. For a quick fix, you might be able to download the files that are missing from [the resources directory](https://github.com/chrisranderson/beholder/tree/master/beholder/resources) and place them where Python is l

[2017-08-16 14:32] mrlzla commented on #50
Yes, it worked good when I copied missing files.
Actually I run the command via sudo:
[code]
Can it be the reason for the error?

[2017-08-16 14:34] chrisranderson commented on #50
I always do that too (which I guess is bad but I'm not sure why). There's some stuff I can put in `setup.py` that relates to data associated with the module - I'll have to look at that another time. I'll leave this issue open until I figure that out.

Glad it worked! :)

[2017-08-16 18:28] wchargin commented on #50
Only slightly tangential…

In my experience, you'll be happiest with pip if you _always_ use a virtualenv. Using `sudo pip install` once often means that you'll have to always use that from now on to get the permissions to align, but you don't want to do that: you want to own the files, and you want any configuration done by post-install scripts to apply to your user, not `root`. (Also, running ar

[2017-08-21 20:56] chrisranderson commented on #50
This should be fixed by ceefdba88595e3f91756d1db76c9eed25e6ca577. Thanks for reporting, @mrlzla!

[2017-08-21 20:56] #50 closed

[2017-08-21 21:23] chrisranderson commented on #40
Whoops, duplicated the issue. See #48 for more updates.

[2017-08-21 21:23] #40 closed

[2017-08-21 21:47] chrisranderson commented on #48
@jart It looks like I need to update `WORKSPACE` again to get @wchargin's update. How can I look up what I need to update?

[2017-08-23 00:26] jart commented on #48
https://github.com/tensorflow/tensorboard-plugin-example/pull/9 has the code you need to put in your WORKSPACE file to get the latest TensorBoard.

[2017-08-23 13:44] wilcoschoneveld commented on #41
Hey @chrisranderson,

I worked a bit on visualizing convolution filters and this is what I came up with:

![convfilters](https://user-images.githubusercontent.com/3064588/29618870-c32b6d50-8819-11e7-90a8-fc13959eef81.png)

I used a diverging colormap to show the difference between positive and negative, and added a bit of spacing to clarify the convolution layer structure. What do you think?

[2017-08-26 02:03] chrisranderson commented on #41
Padding, proper axes with labels, and a colorscale are all nice looking and superior to what I've got, but I might leave them for the TensorBoard team to implement after Beholder is merged, if they want. Adding padding could make rendering the images substantially slower, too. I'm doing some black magic reshaping that would have to be rethought.

That's the second time I've got the suggestion for

[2017-08-26 02:07] chrisranderson opened #51 "Add a diverging colormap"
Thanks to @wilcoschoneveld (#41) and @brannondorsey for the suggestion.

[2017-08-26 02:10] chrisranderson opened #52 "Add axes, axis labels, and a legend."
Thanks to @wilcoschoneveld (see #41) for this.

I explain a lot of this in the README, but it would be better as part of the visualization, and make it easier to count and trace stuff back to your code (e.g. Huh, that filter looks interesting, but there are 256 of them, and I'm not going to count all of them to figure out which one it actually is).

I'm not sure how all this would work, given that

[2017-08-27 01:47] chrisranderson commented on #48
Aaaalrighty, thanks @jart and @wchargin for the help. No more Pillow. Fixed by cea87b37f680dec24cbc43aad236b87f9870ed57.

[2017-08-27 01:47] #48 closed

[2017-08-27 04:32] chrisranderson commented on #45
This won't work on the sidebar, since sections are scaled individually. The best I could do right now is add a legend next to each individual section. I'm already accomplishing the purpose of a legend with the information next to each section, but it's not particularly pretty.

I've thought about doing histograms on side (#35). That could act as a legend and provide a maybe useful alternate visual

[2017-09-07 02:58] chrisranderson opened #53 "Handle error that occurs when the log directory isn't present"
Here is the error:

[code]

[2017-09-07 22:54] chrisranderson commented on #33
I'm still (slowly) working on this. I almost have `is_active` and the inactive plugin page done. Development from me on Beholder has (and will be) slowed down dramatically, given that I have a job search and school to do.

@jart From [the milestone](https://github.com/chrisranderson/beholder/milestone/1), what do you think is necessary before handing everything over? How will that work? Will git h

[2017-09-09 00:13] chrisranderson commented on #46
@jart How is this?

![image](https://user-images.githubusercontent.com/5461398/30235087-71a51030-94c1-11e7-8be7-1931a1f3b3dc.png)

[2017-09-09 00:17] chrisranderson commented on #47
@jart How is this?

![image](https://user-images.githubusercontent.com/5461398/30235135-0299c1bc-94c2-11e7-8bf4-083dce82ebfa.png)

[2017-10-03 22:01] jart commented on #46
LGTM

[2017-10-03 22:01] jart commented on #47
LGTM

[2017-10-04 03:30] chrisranderson commented on #33
It begins!

https://github.com/tensorflow/tensorboard/pull/613

[2017-11-01 17:47] mathnathan opened #55 "Beholder tab not showing up in TensorBoard app"
Since Beholder may not be 'officially' supported until TensorBoard version 0.5 as @jart suggested [here](https://github.com/tensorflow/tensorboard/pull/613), I am requesting help here for now.

I am attempting to use the latest TensorBoard build to access the beholder plugin. I clone TensorBoard and build it...

[code]
I access Beholder as follows

[code]

and in my training loop I have

[code]
Th

[2017-11-01 18:58] chrisranderson commented on #55
I don't know what has been happening to Beholder since it was merged - it may not be hooked into TensorBoard's nightly build at all yet. At the beginning, I was just handing the code over without integrating it into TensorBoard. I'm leaving that to the TensorBoard folks.

The only way I know how to use it is via this repository as of right now. Have you tried following the instructions in this rep

[2017-11-01 21:20] mathnathan commented on #55
I have not. My initial goal was to access beholder in a future conscious way, such that it will be compatible with TensorBoard. It seemed to me that jart released the tb-nightly specifically with this in mind. I will give the instructions in this repo a try. Since the actual issue is not resolved, perhaps we can leave this open and see if someone else, perhaps @jart, has anything to say about it.

[2017-11-01 21:24] chrisranderson commented on #55
Sadly, this repo might not be up to date, I'm not sure. I may have time Friday or Saturday to help you out if things don't work.

[2017-11-01 21:28] mathnathan commented on #55
Thank you for your diligence. I trust I can get it working, but I will report back should there be any further issues. Just wanted to be conscious of the merge with TensorBoard. I will wait until it is officially supported.

[2017-11-01 22:36] jart commented on #55
We'll be getting it working in the main repo over the next few months. It will probably be included in a release in Q1 2018, although we're planning on setting up a PIP package named tb-nightly so you might be able to use it sooner.

[2017-11-15 06:04] kazemSafari opened #56 "The `set` constructor for depsets is deprecated and will be removed. Please use the `depset` constructor instead"
I followed the instructions to install beholder and got to this point:
bazel build beholder/tensorboard_x

When i try to run this command i get an error message:
ERROR: /home/alleria/beholder/beholder/tensorboard_x/BUILD:34:1: every rule of type ts_web_library implicitly depends upon the target '@com_microsoft_typescript//:tsc', but this target could not be found because of: no such package '@com_

[2017-11-15 06:21] chrisranderson commented on #56
Hi there!

Lame answer: this project is now supported and a part of TensorBoard - you may want to try working through that repo to get it working. Their team now supports this project as a part of TensorBoard. I don't work on it anymore.

Alternative answer: hmmm... have you tried adding that flag (`--incompatible_disallow_set_constructor=false`) to `bazel build`?

![image](https://user-images.git

[2017-11-16 15:43] kazemSafari commented on #56
Hey again chisranderson!
Yes! i tried it but it doesn't work and it keeps giving the same error!
How could we let tensorboard people know about this issue?!

[2017-11-16 15:45] chrisranderson commented on #56
Well, the Beholder they use is different than the one in this repo. They may have a nightly build available with Beholder in it - you can try to see if that is available, install and run it, and see if it has the same problem. After that you could post an issue on the TensorBoard repository.

This repo is the outdated version. :) Maybe I should make that bigger on the README.

[2017-11-16 17:41] jart commented on #56
`tb-nightly` PyPi isn't available yet, but it will be soon.

[2017-11-18 01:25] kazemSafari commented on #56
Hi again! Thank you for your comments chrisranderson and jart.
Well i tried many different methods including installing tf-nightly in a python3.5 virtualenv. All of them failed. I opened a new issue as you suggested in tensorboard repo. I guess i have to wait for tensorboard developers to respond there!
Thanks again!

[2017-11-18 01:53] jart commented on #56
This TensorBoard developer says hello :-)

Part of the issue you describe might be there's no `tb-nightly` yet to go alongside `tf-nightly` I'm working on that now. I just got the GCE instance yesterday with which to do it.

[2017-11-18 17:56] kazemSafari commented on #56
Alright! Thank you!

[2018-01-17 18:43] chrisranderson commented on #56
@jart Any update on shipping in `tf-nightly`? I have Beholder working, and `tf-nightly` working but the dashboard doesn't show. :) Hope things are going well.

[2018-01-17 21:46] jart commented on #56
We're in the middle of putting a low latency database in place, so we'll be
able to properly maintain Beholder on all systems and environments going
forward. We won't be able to devote time to that until early next quarter.
Would you be able to help us maintain Beholder until then?

On Jan 17, 2018 10:46 AM, "Chris Anderson" <notifications@github.com> wrote:

[2018-01-17 22:17] chrisranderson commented on #56
Gotcha, sounds good.

I actually might not be able to - I'm working full-time now (yay) and it's one of those since-we-give-you-money-we-own-everything-you-build things (boo). I'm in the process of checking on it though.

[2018-01-18 01:05] jart commented on #56
Congratulations on the new gig!

I'd say talk with your manager. You signed the CLA earlier. You'd need to get permission to sign it again under your corp email address.

Not all companies are willing to do this, but the ones that do always end up looking good. It always makes folks happy to see corporations giving back to the open source community. Even if it's only for minor patches. It serves e

[2018-04-18 09:51] justfouw opened #57 "AttributeError: 'SymbolDatabase' object has no attribute 'RegisterServiceDescriptor'"
In advance, thank for this amazing work:)

I have compiled $beholder$ successfully using bazel-0.5.3 as well as beholder/demo. However, when i run this compiled $beholder$, one error encounter:

[code]

The error information is

[code]

Any one have the same problem?

[2018-08-23 07:48] ChaplinHao opened #58 "about receptive field"
Hi @chrisranderson  beholder can get each layer effective receptive field in a image? this is really interesting, hopes it can visualise it

[2018-12-05 01:25] ted-kapustin opened #59 "Can't build tensorboard_x"
I am following the installation & build procedure described in README.md. When I run the command:

bazel build beholder/tensorboard_x

I have a lot of errors:

[fedora-IT2251705 beholder]$ bazel build beholder/tensorboard_x
Starting local Bazel server and connecting to it...
ERROR: /home/<user>/.cache/bazel/_bazel_<user>/c50acbba45f1b3bce0cf1fb12b59253d/external/io_bazel_rules_closure/closure/styl

[2018-12-05 01:30] chrisranderson commented on #59
This is in tensorboard nightly, maybe in tensorboard these days :) this repo is old, the Tensorflow folks are in charge of it now, sorry. Check the Tensorboard repo for more info on how to use Beholder.

[2018-12-05 01:42] ted-kapustin commented on #59
Another question (not issue): is it possible to run a custom tensorboard (for example, tensorboard_x that comes with Beholder plugin) WITHOUT Bazel? I want to deploy/distribute my future plugin & custom tensorboard, but I don't want to make its users install Bazel and C++ compiler. Will the users have to build their tensorboards from my code in order to use my plugin? Somehow this topic is not cov

[2018-12-05 02:51] chrisranderson commented on #59
You shouldn't use this repository at all. Beholder might even ship with TensorFlow now. I'm pretty sure you can pip install tb-nightly or something like that to use Beholder. I'd recommend checking the TensorBoard repo.

[2018-12-05 16:58] chrisranderson commented on #59
Ohhh gotcha. Yeah When I did this a year ago it was pretty difficult for others to use my plugin. They would have to build all of TensorBoard using Bazel and use TensorFlow nightly. Which is painful.

It could be that the third-party plugin ecosystem is more user-friendly nowadays, I'm not sure. @jart can you provide an update?

[2018-12-06 00:25] #59 closed, assigned to nobody